*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
img{
    cursor: pointer;
}
a{
    text-decoration: none;
}
nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;    
    z-index: 10px;
}
.nav-flex{
    display: flex;
    align-items: center;
}
.nav-right img{
    margin-right: 25px;
    width: 25px;
}
.nav-right .user-pic
{
    border-radius: 50%;
    width: 22px;
    margin-right: 0;
}
.nav-left .logo{
    width: 130px;
}
.nav-left .menu{
    width: 22px;
    margin-right: 25px;
}
.voice-search{
    width: 15px;
}
.search-div{
    border: 1px solid #ccc;
    border-radius: 25px;
    margin-right: 25px;
    padding: 8px 12px;
}
.nav-middle .search-div input{
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
}
.nav-middle .search-div img{
    width: 15px;
}
/* ----------------sidebar-------------- */
.sidebar{
    position: fixed;
    background: #fff;
    top: 0;
    width: 17%;
    height: 100vh;
    padding-left: 2%;
    margin-top: 50px;
}
.sidebar-links a img{
    width: 20px;
    margin-right: 20px;
}
.sidebar-links a{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    align-items: center;
    width: fit-content;
    color: #000;
}
.sidebar-links a:first-child{
    color: #ed3833;
}
.sidebar hr{
    padding-left: 0;
    height: 1px;
    border: 0;
    background: #ccc;
    width: 85%;
}
.subscribed-list h3{
    font-size: 13px;
    font-weight: normal;
    margin: 20px 0;
}
.subscribed-list a{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    align-items: center;
    color: #000;
    margin-bottom: 20px;
}
.subscribed-list img{
    border-radius: 50%;
    width: 25px;
    margin-right: 20px;
}
.remove-sidebar{
    width: 6%;
}
.remove-sidebar a p{
    display: none;
    
}
.remove-sidebar hr{
    margin-bottom: 25px;
}
.remove-sidebar h3{
    display: none;
}
.container{
    padding-left: 17%;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 2%;
    background: #f9f9f9;    
}
.expand-contianer{
    padding-left: 7%;
}
.banner{
    width: 100%;
}
.banner img{
    width: 100%;
    border-radius: 8px;
}
.video-info a{
    font-weight: bold;
    color: #000;
}
.video-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 15px;
}
.video-list .thumb{
    width: 100%;
    height: 70%;
    border-radius: 5px;
}
.video-list .nav-flex{
    margin-top: 10px;
    align-items: flex-start;
}
.video-list .nav-flex img{
    border-radius: 50%;
    width: 35px;
    margin-right: 10px;
}
.video-list{
    margin-bottom: 5%;
}
.video-info{
   color: #5a5a5a;
   font-size: 14px;
}
.video-info a{
    font-weight: 600;
    color: #000;
    display: block;
    margin-bottom: 5px;
}
/* --------------- start of media query----- */
@media(max-width:760px){
    .sidebar{
        display: none;
    }
    .container,.expand-contianer{
        display: block;
        padding-left: 5%;
        padding-right: 5%;
    }
    .nav-right img{
        display: none;
    }
    .nav-middle .voice-search{
        display: none;
    }
    .nav-middle .search-div input{
        width: 100px;
        margin-right: 5px;
   }
   .search-div{
       margin-left: 10px;
   }
    .nav-left .logo{
        width: 90px;
        margin-right: 0px;
    }
    .nav-left .menu{
        width: 25px;
        margin-right: 1px;
    }
    .nav-right .user-pic{
        display: block;
        width: 25px;
        margin-right: 15px;
    }
}
/* -------end of media query---------- */
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.play-video-container{
    padding-left: 2%;
}
.play-video{
    flex-basis: 69%;
}
.play-video video {
    width: 100%;
}
.right-nav-container{
    flex-basis: 30%;
}
.right-nav-video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.right-nav-video-list img{
    width: 100%;
}
.right-nav-video-list .small-thumbnail {
    flex-basis: 49%;  
}
.nav-right-video-info{
    flex-basis: 49%;
}
.nav-right-video-info a{
    color: #000;
    font-size: 12px;
    font-weight: bold;
    line-height: 1em;
   
}
.nav-right-video-info p{
    color: #000;
    font-size: 12px;
    margin-bottom: 2px;
    margin-top: 5px;
    
}
